In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\agata\Downloads\attention.csv")
df = df.drop('Unnamed: 0', axis=1)

In [3]:
df.head()

   subject attention  solutions  score
0        1   divided          1    2.0
1        2   divided          1    3.0
2        3   divided          1    3.0
3        4   divided          1    5.0
4        5   divided          1    4.0

In [4]:
grouped_score=df.groupby(['attention'])['score'].mean()
ratio=grouped_score["focused"]/grouped_score["divided"]

In [5]:
df = df.join(
    df.groupby('solutions')[['score']]
        .transform('mean')  # Calculate the mean for each group
        .rename(columns='mean {} for the area'.format)  # Rename columns 
)

In [12]:
result=df["solutions"][-1:]

In [13]:
result

59    3
Name: solutions, dtype: int64

In [14]:
''''Report the top 10 subjects ranked by the score in descending order. If there are ties in the scores, the subjects should be sorted by subject ID in ascending order. Reset indexes before returning the report.
Note: beware that a subject can appear more than once in the dat'''

"'Report the top 10 subjects ranked by the score in descending order. If there are ties in the scores, the subjects should be sorted by subject ID in ascending order. Reset indexes before returning the report.\nNote: beware that a subject can appear more than once in the dat"

In [29]:
df.groupby(['subject'])['score'].mean()

subject
1     4.333333
2     4.000000
3     4.666667
4     5.666667
5     5.666667
6     5.333333
7     5.166667
8     6.666667
9     4.000000
10    5.666667
11    5.666667
12    8.333333
13    6.666667
14    7.666667
15    7.666667
16    7.000000
17    6.666667
18    7.000000
19    5.666667
20    5.666667
Name: score, dtype: float64

In [21]:
df

    subject attention  solutions  score  mean score for the area
0         1   divided          1    2.0                    5.350
1         2   divided          1    3.0                    5.350
2         3   divided          1    3.0                    5.350
3         4   divided          1    5.0                    5.350
4         5   divided          1    4.0                    5.350
5         6   divided          1    5.0                    5.350
6         7   divided          1    5.0                    5.350
7         8   divided          1    5.0                    5.350
8         9   divided          1    2.0                    5.350
9        10   divided          1    6.0                    5.350
10       11   focused          1    6.0                    5.350
11       12   focused          1    8.0                    5.350
12       13   focused          1    6.0                    5.350
13       14   focused          1    8.0                    5.350
14       15   focused          1    8.0                    5.350
15       16   focused          1    6.0                    5.350
16       17   focused          1    7.0                    5.350
17       18   focused          1    7.0                    5.350
18       19   focused          1    5.0                    5.350
19       20   focused          1    6.0                    5.350
20        1   divided          2    4.0                    5.975
21        2   divided          2    4.0                    5.975
22        3   divided          2    5.0                    5.975
23        4   divided          2    7.0                    5.975
24        5   divided          2    5.0                    5.975
25        6   divided          2    5.0                    5.975
26        7   divided          2    4.5                    5.975
27        8   divided          2    7.0                    5.975
28        9   divided          2    3.0                    5.975
29       10   divided          2    5.0                    5.975
30       11   focused          2    5.0                    5.975
31       12   focused          2    9.0                    5.975
32       13   focused          2    5.0                    5.975
33       14   focused          2    8.0                    5.975
34       15   focused          2    8.0                    5.975
35       16   focused          2    8.0                    5.975
36       17   focused          2    7.0                    5.975
37       18   focused          2    8.0                    5.975
38       19   focused          2    6.0                    5.975
39       20   focused          2    6.0                    5.975
40        1   divided          3    7.0                    6.550
41        2   divided          3    5.0                    6.550
42        3   divided          3    6.0                    6.550
43        4   divided          3    5.0                    6.550
44        5   divided          3    8.0                    6.550
45        6   divided          3    6.0                    6.550
46        7   divided          3    6.0                    6.550
47        8   divided          3    8.0                    6.550
48        9   divided          3    7.0                    6.550
49       10   divided          3    6.0                    6.550
50       11   focused          3    6.0                    6.550
51       12   focused          3    8.0                    6.550
52       13   focused          3    9.0                    6.550
53       14   focused          3    7.0                    6.550
54       15   focused          3    7.0                    6.550
55       16   focused          3    7.0                    6.550
56       17   focused          3    6.0                    6.550
57       18   focused          3    6.0                    6.550
58       19   focused          3    6.0                    6.550
59       20   focused          3    5.0                    6.550